myMusicLibrary
{
  background-color: #3E8EDE;  
  background-image: url("jumboLogo.png");
  background-repeat: no-repeat;
  background-position: left top;
  max-width:100%;
  height:auto;
}



track, gig
{ 
  color: #512C1D;
  padding: 15px;
  display:block;
  text-align: center;
}



gig
{
  font-size: 50px;
  text-decoration: underline;
}

artist, title, released, genre
{
  display: block;
  font-size: 15px;
}

title
{
  font-size:40px;
}
